@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s all ease;
}
body{
  background: #223b61;
/* background: radial-gradient(circle, rgba(46,73,105,1) 0%, rgba(40,56,74,1) 100%); */
}
.nav-container{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 3rem;
  background-color: #ffffff21;
  padding: 0.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.search-form{
  width: 50%;
  max-width: 600px;
  min-width: 270px;
  height: 100%;
  background-color: #ffffff15;
  border: 0.5px solid #a71c1c0c;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}
.searchInput{
  background-color: transparent;
  width: 90%;
  color: #dfdfdf;
  padding-left: 2%;
  border: none;
  font-size: medium;
}
.searchInput::placeholder{
  color: #dfdfdfd7;
}
.search-submit{
  width: 10%;
  border: none;
  min-width: 30px;
  font-size: 1.3rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff21;
  cursor: pointer;
}

.degree-container{
  width: 10%;
  max-width: 80px;
  display: flex;
  height: 90%;
  color: #ffffff;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  min-width: 50px;
}
.fahrenheit, .celcius{
  width: 50%;
  line-height: 2rem;
  text-align: center;
  background-color: #ffffff15;
  cursor: pointer;
}
.degactive{
  background-color: #ffffff38;
}
main{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0.5%;
}
.location{
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}
.mainInfoContainer{
  backdrop-filter: blur(8px) saturate(144%);
    -webkit-backdrop-filter: blur(8px) saturate(144%);
    background-color: rgba(17, 25, 40, 0.67);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  position: relative;
  margin: 1rem 0 2rem 0;
  width: 63%;
  border-radius: 10px;
  border: 1px solid #ffffff18;
  overflow: hidden;
  color: white;
}
.cover{
  padding: 1%;
}
.bdropImg{
  position: absolute;
  z-index: -3;
  width: 1000px;
  height: 600px;
  border: none;
  /* background-image: url('https://source.unsplash.com/1600x900/?darkforest'); */
  filter: brightness(40%);

}
.mainInfoContainer .topHeading{
  font-size: 1rem;
  font-weight: 900;
}
.mainInfoContainer .topTime{
  font-size: 0.9rem;
  color: #dfdfdf;
}
.mainInfoContainer .mainDataCont{
  min-width: 239px;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
}
.mainInfoContainer .mainDataCont .icon{
  width: 130px;
  height: 130px;
}
.mainInfoContainer .mainDataCont .temp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  width: 200px;
  min-width: 190px;
}
.btminfocnt{
  overflow-x: auto;
  position: relative;
}
.btminfocnt::-webkit-scrollbar{
  opacity: 50%;
}
/* .btminfocnt::-webkit-scrollbar:hover{
  opacity: 60%;
} */
.mainInfoContainer .mainCondition{
  font-size: 1.6rem;
  margin:0.7rem 0 3% 0;
}
.mainInfoContainer .bottomInfo{
  position: relative;
  display: inline-flex;
}

.bottomInfoChildren{
  padding: 2% 0 0 2%;
  display: block;
  overflow: hidden;
  height: 5rem;
  width: 8rem;
  font-size: 1rem;
}
.bottomInfoTitle{
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  font-weight: 200;
  cursor: pointer;
  color: #dfdfdfde;
}
.bottomInfoTitle:hover{
  text-decoration: underline;
  color: white;
}
.forcastHeader{
  color: #ffffff;
  margin: 0.5rem 0.2rem 0.5rem 0;
}
 .daysListContainer{
  position: relative;
  display: inline-flex;
  transition: 0.3s all ease;
}


.daysListChildren{
  padding: 1% 0 0 2%;
  transition: 0.3s all ease;
  margin-right: 0.5rem;
  display: block;
  /* overflow: hidden; */
  height: 6.5rem;
border-radius: 5px;
background-color: rgba(255, 255, 255, 0.096);
  width: 9rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.daysActive{
  background-color: #ffffff25;
  width: 17rem;
}
#daysMinInfo{
  cursor: pointer;
  color: #dfdfdf;
  font-weight: 900;
}
.daysMinInfoBody{
  width: 100%;
  height: 80%;
  display: flex;
}
.daysMinInfoBody .dic{
  width: 50px;
  height: 50px;
}
.daysMinInfoBody .mims{
  min-width: 105px;
  float: right;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: white;
  align-items: center;
  justify-content: center;
}
.daysMinInfoBody .degd{
  color: white;
  margin-left: 10px;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 0.9rem;
  align-items: center;
}
.hourlyContainer{
  border: none;
  background-color: rgb(255 255 255 / 8%);
  width: 100%;
  border-radius: 7px;
  height: 20rem;
  color: white;
  position: relative;
  margin: 0.8rem 0 0 0;
}
.hourlyContainer h4{
  font-size: 1.3rem;
  padding-top: 7px;
  padding-left: 7px;
}

#line{
  border: 1px solid #ffffff32;
  width: 99.5%;
  height: 2px;
  background-color:  #ffffff32;
  opacity: 40%;
  margin: 1rem auto 0 auto;
  border-radius: 10px;
}

.hoursListContainer{
  position: relative;
  display: inline-flex;
  transition: 0.3s all ease;
}


.hoursListChildren{
  transition: 0.3s all ease;
  border: none;
  background: linear-gradient(
    180deg
    , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.089) 41.67%);
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  height: 15rem;
  width: 8.5rem;
  overflow: hidden;
  cursor: pointer;
}
.hoursListChildren .icon{
  padding-left: 15px;
  width: 70px;
  height: 70px;
  margin: 2px 0;
  float: left;
}

.hoursListChildren .degree{
  padding-left: 15px;
  margin: 6px 0;
}
.hoursListChildren .condition{
  padding-left: 15px;
  font-size: 0.9rem;
  color: #dfdfdfe2;
  font-weight: 300;
  line-break:auto
}
.hoursListChildren .humidity{
  padding-left: 15px;
  margin-bottom: 8px;
  
}
.hoursListChildren .windspeed{
  padding-left: 15px;

}





/* <div className="hoursListChildren" id="c1">

<img src="" alt="" className="icon" />

<h3 className="degree">32 <WiDegrees style={{fontSize: '20px'}}/> </h3>

<h3 className="condition">partly cloudy</h3>

<br /><br />

<p className="humidity"> 28%</p>
<p className="windspeed">21km/h</p> */

.next{
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 0;
  z-index: 3;
  border-radius: 50%;
  border: 1px solid #ffffff07;
  background-color: #ffffff28;
  color: #dfdfdf99;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
}
.prev{
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  z-index: 3;
  border-radius: 50%;
  border: 1px solid #ffffff07;
  background-color: #ffffff28;
  color: #dfdfdf99;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
}
#hours{
  width: 100%;
}
.bottomTime{
  border: none;
  background-color: #223b61;
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

















@media screen and (max-width: 900px) {
  .mainInfoContainer{
    width: 87%;
  }
  
}
@media screen and (max-width: 748px) {
  .next,.prev{
    display: none !important;
  }
  
}
@media screen and (max-width: 750px) {
  .mainInfoContainer{
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .search-form{
    width: 100%;
    min-width: 230px;
  }
  .degree-container{
    display: none;
  }
  .mainInfoContainer .mainDataCont .temp{
    width: 20%;
    min-width: 130px;
  }
 #tempNo{

   font-size: 3.5rem !important;
   font-weight: 900;
  }
  .search-submit{
    min-width: none;
    width: 17%;
  }
  

}